<%- include('header', user)  %>    

<div class="navigation">
  <a href="/status/<%= user.uuid %>" class="navigation-button">STATUS</a>
  <a href="/inventory/<%= user.uuid %>" class="navigation-button">INVENTORY</a>
  <a href="/skills/<%= user.uuid %>" class="navigation-button">SKILLS</a>
  <a href="/perks/<%= user.uuid %>" class="navigation-button">PERKS</a>
  <a href="/map/<%= user.uuid %>" class="navigation-button">MAP</a>
  <a href="/radio/<%= user.uuid %>" class="navigation-button active">RADIO</a>
</div>


 



  </body>
</html>
