<%- include('header', user)  %>    
<div class="navigation">
  <a href="/status/<%= user.uuid %>"  class="navigation-button active">STATUS</a>
  <a href="/inventory/<%= user.uuid %>" class="navigation-button">INVENTORY</a>
  <a href="/skills/<%= user.uuid %>" class="navigation-button">SKILLS</a>
  <a href="/perks/<%= user.uuid %>" class="navigation-button">PERKS</a>
  <a href="/map/<%= user.uuid %>" class="navigation-button">MAP</a>
  <a href="/radio/<%= user.uuid %>" class="navigation-button">RADIO</a>
</div>

    <div class="inventory">
      <div class="item inventory-list">
        <table style="width: 100%">


          <%  
          for (var stat in user.stats) {
            if (user.stats.hasOwnProperty(stat)) {
              
          %>
          <tr class="hover-green">
            <td style="text-transform: uppercase;"><%= stat %></td>
            <td><%= user.stats[stat] %></td>
          </tr>

          <%} } %>
          
          

        </table>
      </div>
      <div class="item-display item">
        <div class="status-display">
          <table class="status-form">
            <tr>
              <td> </td>
              <td>
                <progress id="file" value="32" max="100"> 32% </progress>
                </td>
              <td> </td>
              </tr>
            <tr>
              <td>
                <progress value="0" max="100"></progress>
                </td>
              <td><img
          id="selected-item-image"
          src="/img/walk.gif"
        /></td>
              <td>
                <progress value="32" max="100"></progress>
                </td>
            </tr>
            <tr>
              <td>
                <progress value="32" max="100"></progress>
                </td>
              <td>
                <progress value="32" max="100"></progress>
                </td>
              <td>
                <progress value="32" max="100"></progress>
                </td>
            </tr>

          </table>
        
        </div>
      </div>
    </div>
  </body>
</html>
